<div class="home-card">
  <h1>Welcome to Fizzcle</h1>
  <p>Your personal finance tracker. Upload bank statements, tag your transactions, and run reports.</p>
  <p><%= link_to "Go to Register &rarr;".html_safe, controller: "transactions", action: "index" %></p>
</div>
