<h1>Reports</h1>

<div class="report-links">
  <%= link_to "Tag Report",        { action: "tag" },             class: "report-link-card" %>
  <%= link_to "Monthly Summary",   { action: "monthly_summary" }, class: "report-link-card" %>
  <%= link_to "Year Tag Report",   { action: "year_tag" },        class: "report-link-card" %>
</div>
